body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 244, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItem{
    font-size: 20px;
    padding: 2px 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(2, 48, 254); 
    margin: 0;
    border-radius: 40px;
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-weight: bold;
    font-size: large;
    height: 100%;
    width: 90px;
    border: solid white 2px;
    background-color: #da813c;
    border-radius: 13px;
}